# Copy this file to `.env` and fill in your keys
# Do NOT commit your real tokens/keys to a public repo.

BOT_TOKEN=8456039099:AAG3v4a6M16xqFmQvBaTPXCsKjPfpRVBuwU
REMOVE_BG_API_KEY=3kue1XNJ3C9ARq9fzNddEUah